<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    package="com.example.shoesplace">

    <application
        android:name=".ShoesPlaceApplication"
        android:allowBackup="true"
        android:label="ShoesPlace"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.ShoesPlace">
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
    </application>
</manifest>
